#parent { 
    background-color: red;
    height: 300px;
    width: 300px;
    position: relative;
}
.child{
    height: 100px;
    width: 100px;
}
#child1 {
    background-color: blue;
    position: absolute;
    right: 0;
    
}
#child2 {
    background-color: green;
}
#child3 {
    background-color: yellow;
    position: absolute;
    bottom: 0;
}
#child4 {
    background-color: purple;
    position: absolute;
    bottom: 0;
    right: 0;
}
#child5 {
    background-color: white;
    position: absolute;
    bottom: 100px;
    left: 100px;
    
}